html > body {
    display: block;
    text-align: center;
    background-color: black;
}
#problem {
    height:300pt;
    width:600pt;
    display: inline-block;
    background-color: rgb(245, 245, 245);
    border-radius: 20pt;
    transform: translateY(100pt);
}
#problem::before {
    content: "";
    display: inline-block;
    height:100%;
    width:0;
    top:0;
    left:0;
    vertical-align: middle;
}
.title {
    display: inline-block;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25pt;
    transform: translateY(-70pt);
}
.article {
    display: inline-block;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15pt;
    transform: translateY(-70pt);
}