/* Elements */

header {
    background-image: url("https://s21.ax1x.com/2024/09/10/pAm0Qv4.png");
    background-color:black;
    height:100vh;
}

/* Classes */

.header-text {
    position: absolute;
    top:calc( 50% - 120px );
    left:calc( 50% - 250pt );
    color:white;
    text-align: center;
    width:500pt;
    height:100px;
}

.a-self {
    text-decoration: none !important;
    transition: ease 0.25s all;
    color:blue !important;
}

.a-self:hover {
    color:rgb(0, 162, 255) !important;
    transition: ease 0.25s all;
}

/* Id */

#scroll-down {
    position:absolute;
    color:white;
    text-align: center;
    width:100%;
    bottom:20pt;
}

#Layer_1 {
    transform: translateY(5px);
}

/* Background shortcuts */

.bg-empty {
    background: rgba(0, 0, 0, 0);
}

.bg-img {
    background-position: center 0pt;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Fonts shortcuts */

.consolas {
    font-family: Consolas;
}