/* Elements */

header {
    background-image: url("../img/bkdk3u1f.png");
}

/* Classes */

.a-self {
    text-decoration: none !important;
    transition: ease 0.25s all;
    color:blue !important;
}

.a-self:hover {
    color:rgb(0, 162, 255) !important;
    transition: ease 0.25s all;
}

/* Id */

#Layer_1 {
    transform: translateY(5px);
}

/* Background shortcuts */

.bg-empty {
    background: rgba(0, 0, 0, 0);
}

.bg-img {
    background-position: center 0pt;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Fonts shortcuts */

.consolas {
    font-family: Consolas;
}